.movie_Container {
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template:
        "poster title" 0.8fr "poster  description" 2fr "poster   cast" 2fr/ 0.6fr 1fr;
}


/*---- POSTER ----*/
.movie-poster {
    grid-area: poster;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-poster img {
    padding-top: 3%;
    width: 70%;
    height: 80%;
    object-fit: fill;
}


/*---- TITLE ----*/
.movie-name {
    grid-area: title;
    padding-top: 15%;
    padding-right: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}


/*---- DESCRIPTION----*/
.movie-description {
    grid-area: description;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.movie-plot {
    padding-right: 10vw;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    padding-top: 1%;
}


/*---- CAST ----*/
.movie-cast {
    grid-area: cast;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.movie-cast_Big_Container {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
}

.movie-cast h3 {
    padding-top: 1rem;
}

.movie-cast_Container {
    margin-top: 3%;
    width: 12vw;
    height: 25vh;
    display: grid;
    grid-template-rows: 70% 30%;
    border: groove 0.5em;
    border-radius: 15%
}

.movie-cast-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.movie-cast-name {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
}

.movie-cast-name h4,
.movie-cast-name h5 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*----- STYLES -----*/
.movie_Container {
    background-color: #181a1b;
}

.movie-description,
.movie-rating,
.movie-cast h3,
.movie-name h3,
.movie-cast-name h4,
.movie-cast-name h5 {
    font-family: 'Orbitron', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap")
}

.movie-description,
.movie-rating,
.movie-cast h3,
.movie-name h3 {
    color: white;
}

.movie-name h3 {
    font-weight: bold;
    font-size: 4rem;
}

.movie-plot {
    font-size: 2rem;
}

.movie-plot h4 {
    color: green;
}

.movie-cast h4,
.movie-cast-name h5 {
    font-size: 1.5em;
}


.movie-cast h4 {
    font-weight: bold;
}

.movie-cast-name h5 {
    font-weight: 300
}

.movie-cast h3 {
    font-size: 3rem
}

.movie-cast_Container {
    background-color: white;
}