.movie_Container {
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    overflow:auto;
    height: 100vh;
    width: 100vw;
    /* padding-left: 5%;
    padding-right: 5%; */
    display: grid;
    grid-template:   "poster      title"     1fr
                    "poster     description"  2fr
                    "poster        cast"      2fr/
                    0.6fr         1fr;

}

/*---- POSTER ----*/
.moviePoster{
    grid-area: poster;
    padding-top: 55px;
    /* margin-right: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.moviePoster img {
    width: 85%;
    height: 90%;
    object-fit: fill;
    padding-left: 0%
}

/*---- TITLE ----*/
.movieTitle  {
    padding-top: 85px;
}

.movieRating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*---- DESCRIPTION----*/
.movieDescription {
    grid-area: description;

}


/*---- CAST ----*/

.movieCast {
    grid-area: cast;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
     justify-content: flex-end; 

}

.movieCastBigContainer {
    /* background-color: aqua; */
    height: 80%;
    width: 100%;
    display: flex;
    align-self: flex-end;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}


.movieCast_Container {
    width: 150px;
    height: 220px;
    border: solid 1px black;
    display:grid;
    grid-template-rows: 70% 30%;
    background-color: white;

}

.movieCast h5 {
    margin-bottom:10px;
}

.movieCastImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
 .movieCastName {
    display: grid;
    grid-template-rows: repeat(2,1fr); 
     align-items: center; }


.movieCastName h4, 
.movieCastName h5 {
    text-align: center;

}

/*----- BUTTON -----*/
.btn-primary {
    margin-top: 30px
}


/*----- STYLES -----*/
.movie_Container {
    background-color: #181a1b;
}

.movieDescription,
.movieRating,
.movieCast h3 {
    color: white;
}

.movieTitle h3 {
    font-weight: bold;
    font-size: 2.5em;
    color: white;
}

.movieCast h4{
    font-weight: bold;
    font-size:1.5em;
}

.movieCastName h4{
    font-size: 1.3em
}

.movieCastName h5 {
    font-size: 1em;
    font-weight:300
}

button {
    color: #f4c518;
    background-color:black;
}

.movieDescription p {
    color: #e52629
}

