* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  #left-side-navigation {
    display: grid;
    grid-template-rows: 85px 200px 1fr;
    background-color: red;
  }

  .filter_Big_Container1{
      height: 500px;
      width: 100%;
      display:flex;
      flex-direction: column;
  }

  .filter_Big_Container2{
    height: 500px;
    width: 100%;
    display:flex;
    flex-direction: column;
}