#main-header {
     /* position: -webkit-sticky;  
    position: sticky;  */
    position: absolute; 
    top: 0;
    width: 82%;
    height: 82px; 
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
     justify-self: flex-end; 
    align-items: flex-start;
    
}
  
.main-header-navigation {
    width: 26%;
  }

  .main-header-navigation li {
    /* margin-right: 20px; */
    /* margin-top: 20%; */
    border: 2px solid white;
    display: flex;
    justify-content: center;
    padding: 28px;
    width: 70%;
    margin-left: 26%;

  }

  /* STYLES */
.main-header-navigation h3{
  color: white;
  /* font-size: 28px; */
  font-family: "Orbitron", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
}

.main-header-navigation ul {
  list-style: none;
}