* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
  }

#root body {
    background-color: black;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .user-form {
    background-color: white
}
