* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*---- BODY TEMPLATE ----*/
.body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template:
    "aside    main" 1fr/ 0.8fr 4.5fr;
}

main {
  position: relative;
}

#left-side-navigation {
  grid-area: aside;
}


/* ----- CONTENT ----- */
#movie-list {
  grid-area: main;
  padding-left: 1%;
  padding-top: 83px;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 15px;
}

#figure {
  width: 200px;
  height: 270px;
  display: grid;
  grid-template-rows: 220px 50px;
  position: relative;
}

#figure-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: flex;
  justify-content: center;
}

#figure-image img {
  width: 80%;
  height: 100%;
  object-fit: fill;
}

.figcaption {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.figureImdbRating {
  display: flex;
  justify-self: flex-start;
  align-self: start;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.figureRating {
  display: flex;
  justify-content: flex-end;
}

.heartIcon {
  position: absolute;
  transform: translate(0px, 3px);
}


/* ------ styles ------ */
main {
  background-color: #181a1b;
}

#figure,
#figure-image,
.figureRating p {
  background-color: #f6f6f5;
}

.figcaption,
.figureRating p,
.imageOptionsLeftSide h3,
.imageOptionsRightSide h3 {
  font-family: "Orbitron", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
}

.figcaption,
.filter_Big_Container1 button {
  font-weight: bold;
}

.figcaption {
  color: #70757a;
  font-size: 0.9rem;
}

a:link {
  text-decoration: none;
}

.figureRating p {
  border: 1px solid #767676;
  font-size: 20px;
}

.filter_Big_Container1 button {
  font-size: 20px;
}


/* -- CLICK EFFECTS -- */
.mdi.mdi-heart-outline {
  background-color: black;
  color: #f4c518;
}


/* -- HOVER EFFECTS -- */
.imageOptions {
  visibility: hidden;
  background-color: rgba(137, 147, 150, 0.75);
  width: 100%;
  height: 82%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
}

.imageOptionsLeftSide,
.imageOptionsRightSide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imageOptions button {
  background-color: rgba(137, 147, 150, 0);
  border: none;
}

.imageOptionsLeftSide h3,
.imageOptionsRightSide h3 {
  font-size: 15px;
}

.imageOptionsLeftSide h3 {
  color: #f4c518;
  text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}

.imageOptionsRightSide h3 {
  color: white;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.imageOptionsLeftSide {
  border-right: 4px solid black;
}

#figure:hover .imageOptions {
  visibility: visible;
}

#input_star:hover {
  cursor: pointer;
}