html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: "aside    main"   1fr/
                    1fr      4.5fr;
}

/*---- main section ----*/
main {
    grid-area: main;
}

/* main-header */
    #main-navigation {
    display: flex;
    position: -webkit-sticky;  /* for Safari */
    position: stickyz;
    top: 0;
    align-self: flex-start;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.5);
    align-items: center;
} 

#main-navigation ul {
    width: 600px;
}

#main-navigation ul li {
    color: white;
    display:inline;
    /* padding: 2rem; */
    border: 1px solid white;
}   

#movie-list {
    overflow:auto;
    scroll-behavior: smooth;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 15px;
    
}

figure {
    width: 200px;
    height: 270px;   
    display: grid;
    grid-template-rows: 220px 50px ;
    background-color:#f6f6f5;

}

#figure-image {
    background-color:#f6f6f5;
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: flex;
    justify-content: center;
}
#figure-image img{
    width: 80%;
    height: 100%;
    object-fit: fill;
}

#figure-text {
    width: 100%; 
    height: 100%;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
} 

#left-side-navigation {
    grid-area: aside;
}

/* --- styles --- */
figcaption  {
    color: #70757a;
    font-size: 12px
}

a:Link {
    text-decoration: none;
}