html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  /*---- BODY TEMPLATE ----*/
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: "aside    main"   1fr/
                    1fr      4.5fr;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

/* ----- MAIN HEADER ----- */
#main-navigation {
    display: flex;
     position: -webkit-sticky;  
     position: stickyz;
     top: 0;
    align-self: flex-start; 
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.5);
    align-items: center;
} 

#main-navigation ul {
    width: 600px;
}

#main-navigation ul li {
    color: white;
    display:inline;
    /* padding: 2rem; */
    border: 1px solid white;
}   

/* ----- MAIN CONTENT ----- */
#movie-list {
    height: 100vh;
    overflow:auto;
    scroll-behavior: smooth;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 15px;
    
}

figure {
    width: 200px;
    height: 270px;   
    display: grid;
    grid-template-rows: 220px 50px ;
    background-color:#f6f6f5;
    
}

#figure-image {
    background-color:#f6f6f5;
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: flex;
    justify-content: center;
}

#figure-image img {
    width: 80%;
    height: 100%;
    object-fit: fill;
}

.figcaption {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
   
} 

.figureImdbRating {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 235px
}

/* ---- ASIDE NAVIGATION ---- */
#left-side-navigation {
    border: 1px solid black;
    height:100vh;
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
}

.filter_Big_Container1 {
    border: 1px solid black;
    display: flex;
    flex-direction:column;

}
.filter_Big_Container1 button{
    height: 100px;
    width: 100%;
}




.filter_Big_Container2 {
    border: 1px solid black;
}















/* ------ styles ------ */
.figcaption  {
    color: #70757a;
    font-size: 18px;
    font-weight: bold;
}

a:Link {
    text-decoration: none;
}

.figureRating p {
    background-color:white;
    font-size: 18px;
}

.filter_Big_Container1 button {
    font-weight: bold;
    font-size: 20px;
}





/* -- HOVER EFFECTS -- */
.imageOptions {
    visibility: hidden;
    background-color: rgba(137, 147, 150, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.imageOptionsLeftSide,
.imageOptionsRightSide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageOptionsLeftSide {
    border-right: 2px solid black;
}


#figure:hover .imageOptions {
    visibility: visible;
    cursor: pointer;
}