.main_Container {
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        "main1" auto "main2" auto/ 1fr;
}


/* CONTAINER 1 */
.main_container1-watchlist {
    padding-left: 5%;
    padding-top: 100px;
    grid-area: main1;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.headerTitle {
    padding: 10px
}

.upcoming-release-txt {
    padding: 10px;
    margin-top: 10px;
}


/* CONTAINER 2 */
.main_container2-watchlist {
    padding-left: 5%;
    grid-area: main2;
    display: grid;
    grid-template-rows: auto 1fr;
}

.out-now-title {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* BOTH */
#movie-list-watchlist,
#movie-list-watchlist2 {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}


/* Styling */
.headerTitle h2,
.upcoming-release-txt,
.out-now-title h3 {
    font-family: "Orbitron", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
}

.headerTitle h2 {
    color: #f4c518;
    font-size: 3rem;
}

.upcoming-release-txt,
.out-now-title h3 {
    color: white;
    font-size: 1.5rem;
}