/* * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
} */

.main_Container {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template:
    "main1" 1.2fr
    "main2" 1fr/
    1fr;
}

.main_container1 {
    padding-top: 80px;
    grid-area: main1;
    display: grid;
    grid-template-rows: 30% 1fr;
}

.headerTitle {
    display: grid;
    grid-template-rows: 1fr 30px;
}


.main_container2 {
    grid-area: main2;
    display: grid;
    grid-template-rows: 13% 1fr;
}

.headerTitle2 {
    padding-top:50px;
}

#movie-list-main,
#movie-list-main2 {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}



/* Styling */
.headerTitle h2 {
color: #f4c518;
font-weight: bold;
font-size: 3rem;
font-family: "Orbitron", sans-serif;
src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
}

.headerTitle h3,
.headerTitle2 h3{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
}
